In [20]:
import pandas as pd

```{mermaid}{mermaid}
graph LR
Papermill -->|0-parameters|B
B<--> |1-Lectura de datos| C[(Storage)]
B--> |2-Limpieza de datos|B
B--> |3-Guarda datos limpios|C
```

# Params

In [ ]:
INPUT_DATA = ""
OUPUT_DATA = ""

# Lectura de datos

In [21]:
df = pd.read_csv(INPUT_DATA)
df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True

# Data Cleaning

In [22]:
# Eliminar filas con valores faltantes
df.dropna(inplace=True)

In [23]:
# Eliminar columnas que no ser√°n utilizadas en el modelo
df.drop(['deck', 'embark_town', 'alive', 'class','who'], axis=1, inplace=True)

## Guardar datos limpios en storage

In [24]:
df.head(3)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,adult_male,alone
1,1,1,female,38.0,1,0,71.2833,C,False,False
3,1,1,female,35.0,1,0,53.1000,S,False,False
6,0,1,male,54.0,0,0,51.8625,S,True,True

In [25]:
df.to_parquet(OUTPUT_DATA)